.portableText {
  @apply text-base leading-relaxed;
}

/* margins */
.portableText p,
.portableText ul,
.portableText ol,
.portableText blockquote,
.portableText pre {
  @apply my-4;
}
.portableText figure,
.portableText iframe {
  @apply my-8;
}

/* headings */
.portableText h1,
.portableText h2,
.portableText h3,
.portableText h4,
.portableText h5,
.portableText h6 {
  @apply font-bold text-gray-900;
}
.portableText h1 {
  @apply mt-12 mb-4 text-4xl leading-snug;
}
.portableText h2 {
  @apply mt-12 mb-4 text-3xl leading-snug;
}
.portableText h3 {
  @apply mt-8 mb-4 text-2xl leading-normal;
}
.portableText h4 {
  @apply mt-8 mb-4 text-xl leading-normal;
}
.portableText h5 {
  @apply mt-8 mb-4 text-base leading-normal;
}
.portableText h6 {
  @apply mt-8 mb-4 text-sm leading-normal;
}

/* link */
.portableText a {
  @apply m-px border-b border-dotted border-[#2070da] p-px text-[#2070da];
  @apply transition-all duration-100 ease-in-out;
}
.portableText a:hover {
  @apply border-blue-700 bg-blue-100 bg-opacity-70 text-blue-700;
}

/* inline code */
.portableText :not(pre) code {
  @apply mx-0.5 px-1 pt-0.5 pb-px;
  @apply rounded border border-slate-300 bg-slate-100 text-sm text-slate-700;
}

/* block code */
.portableText pre {
  @apply rounded text-sm;
}

/* unordered list */
.portableText ul {
  @apply ml-8;
}
.portableText li > ul {
  @apply my-0;
}
.portableText ul > li,
.portableText ul > li p {
  @apply relative my-2;
}
.portableText ul > li::before {
  content: '•';
  @apply absolute -left-4 my-auto -translate-x-1/2;
  @apply rounded-full font-bold tracking-tight text-slate-500;
}

/* ordered list */
.portableText ol {
  @apply ml-8;
}
.portableText li > ol {
  @apply my-0;
}
.portableText ol {
  counter-reset: ol-counter;
}
.portableText ol > li,
.portableText ol > li p {
  counter-increment: ol-counter;
  @apply relative my-2;
}
.portableText ol > li::before {
  content: counter(ol-counter) '. ';
  @apply absolute top-0 bottom-0 -left-2 my-auto -translate-x-full;
  @apply font-semibold tabular-nums tracking-tight text-slate-500;
}

/* horizontal rule */
.portableText hr {
  @apply mx-auto my-8 w-16 border-t-gray-300;
}

/* blockquote */
.portableText blockquote {
  @apply border-l-4 border-slate-500 pl-4 italic text-slate-500;
}

/* figure */
.portableText figure figcaption {
  @apply mt-4 text-center text-slate-500;
}
